/* Empty. Add your own CSS if you like */

html, body {
  height: 100%;
  width: 100%;
}

.navbar-settings {
  font-size: 35px;
  margin-left: 270px;
}

.distance {
  font-style: italic;
  font-size: 12px;
}

.box {
  height: 100%
}

.box > h1{
  color: white;
  text-align: center;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.navbar-settings {
  padding-left:5px;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.pink {
  background: pink;
}

.slider {
  height: 100%;
}
