/* Empty. Add your own CSS if you like */

html, body {
  height: 100%;
  width: 100%;
}

.navbar-settings {
  font-size: 35px;
  margin-left: 270px;
}

.distance {
  font-style: italic;
  font-size: 12px;
}

.box {
  height: 100%
}

.box > h1{
  color: white;
  text-align: center;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.navbar-settings {
  padding-left:5px;
}

.blue {
  background: #0DACFF;
}

.yellow {
  background: #00FFCC;
}

.pink {
  background: #0DFF46;
}

.slider {
  height: 100%;
}

.bookmark-complete {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.bookmark-icon {
  font-size: 100px;
}
